<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Convertor</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<h1>Currency Convertor</h1>
<div id="app">
    <input v-model="sourceCurrency" placeholder="Source Currency">
    <input v-model="targetCurrency" placeholder="Target Currency">
    <input v-model="monetaryValue" placeholder="Monetary Value">
    <button @click="fetchRate">Fetch Rate</button>
    <ConversionResult :rate="rate"/>
</div>
<script src="js/main.js"></script>

</body>
</html>